/**
 *
 * @author xiaoping (edwardhjp@gmail.com)
 * @type css
 * @index
 */

 @keyframes rotate {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
  }
}

 @font-face {
   font-family: 'iconfont';
   src: url('../assets/iconfont.ttf') format('truetype');
 }
 .iconfont {
   font-family: 'iconfont';
   font-size: 16px;
   font-style: normal;
 }

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family:PingFang SC, Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#body {
  display: flex;
  height: 100%;
  overflow: hidden;
}
#list {
  position: relative;
  flex: 3;
  max-width: 280px;
  color: rgba(0, 0, 0, 0.6);
  background: #efefef;
  .listContainer {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
    & > .listItem {
      display: flex;
      box-sizing: border-box;
      height: 100px;
      background: #555;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      & > .listItemIcon {
        overflow: hidden;
        width: 60px;
        height: 60px;
        padding: 20px 10px;
        img {
          width: 100%;
        }
      }
      & > .listItemInfo {
        flex: 1;
        padding: 20px 10px;
        h2 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0;
          margin-bottom: 5px;
          font-size: 20px;
          color: #fff;
        }
        p {
          margin: 0;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: #eee;
        }
      }
      &:hover {
        background: #333;
      }
      &:last-child {
        border-bottom: none;
      }
      &.selected {
        background: #272727;
      }
    }
    &:empty {
      &::after {
        position: absolute;
        content: '还没有任何消息源';
        width: 100%;
        line-height: 50px;
        text-align: center;
      }
    }
  }
  .listBtns {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    line-height: 50px;
    & > div {
      flex: 1;
      color: #fff;
      text-align: center;
      cursor: pointer;
      &.addBtn {
        background: #13ce66;
        &:hover {
          background: #0fb950;
        }
      }
      &.manageBtn {
        background: #50bfff;
        &:hover {
          background: #41aaeb;
        }
      }
    }
  }
}
#detail {
  position: relative;
  flex: 7;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  .detailLastTime {
    margin: 20px 20px 0 20px;
    color: #555;
    cursor: pointer;
    i {
      font-size: 20px;
      margin-top: -3px;
      margin-right: 5px;
    }
    span {
      color: #555;
    }
  }
  .detailContainer {
    padding: 20px;
    & > .detailItem {
      margin-top: 30px;
      cursor: pointer;
      &:first-child {
        margin-top: 0;
      }
      a {
        display: flex;
        box-sizing: border-box;
        height: 120px;
        text-decoration: none;
        color: currentColor;
        & > .detailItemIcon {
          overflow: hidden;
          width: 150px;
          height: 120px;
          img {
            width: 100%;
          }
        }
        & > .detailItemInfo {
          flex: 1;
          margin-left: 10px;
          h2 {
            margin: 0;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 16px;
          }
          p {
            margin: 0;
            margin-top: 5px;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            color: #9e9e9e;
            font-size: 14px;
            &.detailAuthor {
              -webkit-line-clamp: 1;
              color: #ccc;
            }
          }
        }
      }
    }
    &:empty {
      &::after {
        position: absolute;
        content: '还没有任何内容';
        width: 100%;
        line-height: 50px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .detailLoading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &.show {
      display: block;
    }
    i {
      position: fixed;
      top: 50%;
      right: 35%;
      transform: translate3d(-50%, -50%, 0);
      font-size: 50px;
      color: #000;
      animation: rotate 1.5s infinite linear;
    }
  }
}

#add {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow-y: scroll;
  &.show {
    display: block;
  }
  .backBtn {
    display: inline-block;
    margin: 20px 20px 0 20px;
    padding: 0 15px 0 10px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #50bfff;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: #41aaeb;
    }
  }
  .addForm {
    padding: 0;
    margin: 20px 20px 0 20px;
    & > li {
      list-style: none;
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }
    .addLine {
      margin-top: 20px;
      border-bottom: 1px solid #c0ccda;
    }
    .addItemLabel {
      margin-bottom: 3px;
    }
    .addInputLabel {
      & > input {
        display: block;
        padding: 3px 10px;
        box-sizing: border-box;
        width: 500px;
        height: 36px;
        color: #1f2d3d;
        background-color: #fff;
        background-image: none;
        border: 1px solid #c0ccda;
        border-radius: 4px;
        transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        outline: none;
        font-size: inherit;
        &:hover {
          border-color: #8793A5;
        }
        &:focus {
          border-color: #20a0ff;
        }
      }
    }
    .addRadioBtns {
      display: flex;
      & > label {
        position: relative;
        overflow: hidden;
        display: inline-block;
        &:not(:last-child) {
          margin-right: -1px;
        }
        &:first-child span {
          border-radius: 4px 0 0 4px;
        }
        &:last-child span {
          border-radius: 0 4px 4px 0;
        }
        input {
          opacity: 0;
          outline: none;
          position: absolute;
          z-index: -1;
          left: -999px;
          &:checked + span {
            z-index: 1;
            color: #20a0ff;
            border-color: #20a0ff;
          }
        }
        span {
          display: inline-block;
          white-space: nowrap;
          vertical-align: middle;
          background: #fff;
          border: 1px solid #c0ccda;
          color: #1f2d3d;
          text-align: center;
          box-sizing: border-box;
          margin: 0;
          position: relative;
          cursor: pointer;
          transition: border-color .2s cubic-bezier(.645,.045,.355,1),color .2s cubic-bezier(.645,.045,.355,1);
          padding: 5px 15px;
          font-size: 16px;
          border-radius: 0;
        }
      }
    }
  }
  .submitBtns {
    overflow: hidden;
    margin: 20px 20px 0 20px;
    padding-bottom: 50px;
    width: 200px;
    & > div {
      float: left;
      width: 90px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      text-align: center;
      background: #13ce66;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background: #0fb950;
      }
      &.submitAddBtn {
        margin-right: 20px;
        background: #50bfff;
        &:hover {
          background: #41aaeb;
        }
      }
    }
  }
  .addlLoading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &.show {
      display: block;
    }
    i {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      font-size: 50px;
      color: #000;
      animation: rotate 1.5s infinite linear;
    }
  }
}

#manage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow-y: scroll;
  &.show {
    display: block;
  }

  .backBtn {
    display: inline-block;
    margin: 20px 20px 0 20px;
    padding: 0 15px 0 10px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #50bfff;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: #41aaeb;
    }
  }
}
